//- Data to use here
include vars.pug



//- Mixins
mixin social
  ul(class='social__links d-flex')
    each link, icon in {'facebook-square' : 'https://www.facebook.com/ahmedali9656', 'github-square' : 'https://www.github.com/ahmedali5696', 'codepen' : 'https://www.codepen.io/ahmedali56', 'linkedin-square' : 'https://www.linkedin.com/in/ahmedali56'}
      li
        a(href=link target='_blank')
          i(class="fa fa-"+icon aria-hidden="true")



doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='theme-color' content='#46c757')
    title Ahmed Ali | Front-end Developer
    link(rel='stylesheet' href='css/font-awesome.min.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,700,900')
    link(rel='icon' href='favicon.png' )

  body

    //- Header
    header(id='contacts' class='header py-3 text-center')

      .container

        a(class='header__brand' href='#')
          img(src='img/logo.png' alt='Ahmed Ali | Front-end Developer')

        .header__contacts
          p Cairo, Egypt
          p +20 115 5247 573
          a(class='text-green' href='mailto:ahmedali5696@outlook.com') ahmedali5696@outlook.com

        +social




    nav(id='nav' class='navbar')
      .container

        button(id='navbar__toggler' class='navbar__toggler text-gray')
          i(class="fa fa-bars fa-2x" aria-hidden="true")

        ul(class='navbar__nav d-flex text-center collapsed')
          each item in ['contacts', 'skills', 'education', 'portfolio', 'certifications']
            if (item === 'contacts')
              li.nav-item(class='active')
                a(class="text-gray " href='#'+item)= item
            else
              li.nav-item
                a(class="text-gray " href='#'+item)= item

        button(id='dark-mode' class='dark-mode text-gray d-flex')
          i(class="fa fa-sun-o" aria-hidden="true")
          i(class="fa fa-toggle-off fa-2x" aria-hidden="true")
          i(class="fa fa-moon-o" aria-hidden="true")



    section(class='bio text-center py-3')
      .container
        h2 Biography
        p.mx-auto Front-end Developer, 1 Years in Front-end development,i builded some small apps like (Calories Calculater - Weather and detecte location - Game Gussing number and more...). see my apps source code in github and portfolio.




    section(id='skills' class='skills py-3 text-center')

      .container
        h2 Skills

        .skills__container(class='d-grid')

          each skill in skills
            .skills__item(class='d-flex')
              img(src='img/skills/'+skill+'.png')
              p= skill



    section(id='education' class='edu-experince py-3')
      h2.text-center Education & training

      .container
        .edu-experince__timeline

          .timeline__container(class='left')
            .item
              h4 Faculty of Arts
              p Helwan University
              p Sep 2015 - Jul 2021
              p I study in the Department of Geography

          .timeline__container(class='right')
            .item
              h4 Front-End Web Development
              p Amit Learning
              p Jul 2018 - Sep 2018
              p I'v training for Js, Pug and SASS




    section(id='portfolio' class='portfolio py-3 text-center')
      h2 Portfolio

      .container

        .portfolio__container(class='d-grid')

          each img, item in portContent
            .portfolio__item
              a(href='#' target='_blank')
                img(class='portfolio__img' src='img/protofolio/' + img)
              h4= item



    section(id='certifications' class='certifications py-3')
      h2.text-center Certifications

      .container

        .certifications__container(class='d-flex')

          each content in certfiContent
            .certifications__item
              p= content.name 
              p= content.by 
              p
                a(class='text-green' href='#')= content.link  
                span.text-green | 
                span= content.date 



    footer.text-center
      +social
      p Copyright © 2018 Ahmed Ali




    script(src='js/script.js')


    //- 